.controlBox {
    background-color: #fff;
    width: 300px;
    height: 700px;
    padding: 10px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    z-index: -1;
    position:relative;
    border-style: solid;
    border-width: 1px;
}

#map { position:absolute; top:0; bottom:0; width:100%; z-index: -2; }